<div class="gridView uk-grid-medium uk-child-width-1-3@s uk-child-width-1-5@m uk-child-width-1-8@l uk-child-width-1-12@xl" uk-grid>
    <div (click)="_app.changeDirExtend(path[path.length - 2])">
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width: 45%; margin: 2.5%;"/>
              <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width: 45%; margin: 2.5%;"/>
              <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width: 45%; margin: 2.5%;"/>
              <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width: 45%; margin: 2.5%;"/>
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">...</h3>
              <p>Meta Info</p>
          </div>
      </div>
    </div>
    <div *ngFor="let file of content" (click)="_app.changeOrOpen(file.name, file.directory)">
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="padding: none"/>
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">{{ file.name }}</h3>
              <p class="uk-text-meta">{{ file.modified }} | {{ file.size }}</p>
          </div>
      </div>
    </div>
</div>