body {
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    min-height: 100%;
}

.header {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}

.container {
    padding: 20px 80px 0 80px;
}

.switchView {
    float: right;
    fa-icon {
        padding: 0 5px;
        margin: 0 5px;
        font-size: 120%;
        cursor: pointer;
    }
}