<div class="header">
  <h2>NodeFile</h2>
</div>
<div class="container">
  <div class="switchView">
    <fa-icon [icon]="listIcon" [style.opacity]="!gridView ? 1 : 0.2" (click)="gridView = false"></fa-icon>
    <fa-icon [icon]="gridIcon" [style.opacity]="gridView ? 1 : 0.2" (click)="gridView = true"></fa-icon>
  </div>
  <div class="path">
    <ul class="uk-breadcrumb">
      <li><a (click)="changeDir('.')">{{ basePath }}</a></li>
      <li *ngFor="let directory of path"><a (click)="changeDirExtend(directory)">{{ directory }}</a></li>
    </ul>
  </div>
  <app-grid-view *ngIf="gridView" [path]="path" [content]="content"></app-grid-view>
  <app-list-view *ngIf="!gridView" [path]="path" [content]="content"></app-list-view>
</div>
<div class="footer">
  <span class="uk-text-meta">v0.0.1, Build 20181008-e17d6fc, &copy; by Timon Gäbelein</span>
</div>