<div class="listView">
  <div class="tableHead">
    <span class="fileDirIcon"> </span>
    <span class="fileDirTitle">FILENAME</span>
    <span class="fileDirMeta">CREATED</span>
    <span class="fileDirMeta">LAST MODIFIED</span>
    <span class="fileDirOwner">OWNER</span>
    <span class="fileDirSize">SIZE</span>
  </div>
  <div class="file fileDir" *ngIf="path.length > 0">
    <a (click)="_app.changeDirExtend(path[path.length - 2])">
      <fa-icon class="fileDirIcon" [icon]="folderIcon"></fa-icon>
      <h4 class="fileDirTitle">..</h4>
      <span class="uk-text-meta fileDirMeta"></span>
      <span class="uk-text-meta fileDirMeta"></span>
      <span class="uk-text-meta fileDirOwner"></span>
      <span class="uk-text-meta fileDirSize"></span>
    </a>
  </div>
  <div class="file fileDir" *ngFor="let file of content">
    <a (click)="_app.changeOrOpen(file.name, file.directory)">
      <fa-icon class="fileDirIcon" [icon]="folderIcon" *ngIf="file.directory"></fa-icon>
      <!-- <fa-icon class="fileDirIcon" [icon]="fileImageIcon" *ngIf="!file.directory"></fa-icon> -->
      <fa-icon class="fileDirIcon" [icon]="_app.getFileIcon(file.absPath)" *ngIf="!file.directory"></fa-icon>
      <h4 class="fileDirTitle">{{ file.name }}</h4>
      <span class="uk-text-meta fileDirMeta">{{ file.created }}</span>
      <span class="uk-text-meta fileDirMeta">{{ file.modified }}</span>
      <span class="uk-text-meta fileDirOwner">{{ file.owner }}</span>
      <span class="uk-text-meta fileDirSize"> {{ file.size }}</span>
    </a>
  </div>
</div>