
.tableHead {
    padding: 5px 10px 15px 10px;
}

.fileDirIcon {
    width: 5%;
    display: inline-block;
    vertical-align: 1px;
    text-align: center;
}

.fileDirTitle {
    width: 45%;
    display: inline-block;
    margin: 0;
}

.fileDirMeta {
    width: 15%;
    display: inline-block;
    text-align: right;
}

.fileDirOwner {
    width: 10%;
    display: inline-block;
    text-align: right;
}

.fileDirSize {
    width: 10%;
    display: inline-block;
    text-align: right;
}

.fileDir {
    padding: 5px 10px 7px 10px;
    border-radius: 5px;
    &:hover {
        background-color: rgba(107, 185, 240, 0.2);
        cursor: pointer;
    }
}
